@charset "UTF-8";

body {
    background-image: linear-Gradient(to right, #1B70A8, #41515C);
}

main {
    width: 600px;
    background-color: white;
    padding: 50px;
    margin: 200px auto;
    background-color: aquamarine;
}

h1 {
    color:#581ba8
}
h2 {
    text-align: justify;
}